@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.page {
  &__hero {
    background: linear-gradient(
      75deg,
      $a-dark-midnight-blue,
      #006bbc,
      #0082bd,
      #0096b6,
      #00a8ac,
      #26b3a4,
      $p-light-tradewind,
      #4bbd97,
      #6fc688,
      #8acc74,
      #aacf5f,
      #ced04c,
      $a-med-saffron
    );
    filter: contrast(80%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    width: 100%;
    aspect-ratio: 3/2;
    position: sticky;
    //TO DO: improve responsiveness sticky scroll
    top: -25%;

    @include tablet {
      padding-left: 2.5rem;
      aspect-ratio: 2/1;
      top: -30%;
    }

    @include desktop {
      padding-left: 0;
      padding-left: 7.5rem;
      aspect-ratio: 7/3;
      justify-content: center;
    }
  }

  &__title-container {
    width: 100%;
    max-width: calc(1280px - 7.5rem);
  }

  &__title {
    color: $nt-light-albescent-white;
  }
}
