@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.page {
  &__hero {
    background: $reactive-spectrum;
    filter: contrast(80%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 3/2;
    position: -webkit-sticky;
    position: sticky;
    top: -120px;
    left: 0;
    right: 0;

    &--grounding {
      background: $grounding;
    }

    &--uplifting {
      background: $uplifting;
      filter: contrast(70%);
    }

    &--balanced {
      background: $balanced;
    }

    @include tablet {
      padding-left: 2.5rem;
      aspect-ratio: 2/1;
      top: -60%;
    }

    @include desktop {
      padding-left: 0;
      padding-left: 7.5rem;
      aspect-ratio: 7/3;
      justify-content: center;
    }

    &--shrink {
      height: 105px;
    }
  }

  &__title-container {
    width: 100%;
    max-width: calc(1280px - 7.5rem);
  }

  &__title {
    color: $nt-light-albescent-white;

    &--uplifting {
      filter: brightness(120%);
    }
  }
}
