@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.page {
  &__hero {
    background: linear-gradient(
      75deg,
      $a-dark-midnight-blue,
      #006bbc,
      #0082bd,
      #0096b6,
      #00a8ac,
      #26b3a4,
      $p-light-tradewind,
      #4bbd97,
      #6fc688,
      #8acc74,
      #aacf5f,
      #ced04c,
      $a-med-saffron
    );
    filter: contrast(80%);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: clamp(175px, 25%, 250px);
    width: 100%;

    @include tablet {
      padding: 0 2.5rem;
      height: clamp(225px, 50%, 350px);
    }
  }

  &__title {
    color: $nt-light-albescent-white;
  }
}
