@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.strategies {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  @include tablet {
    padding: 2.5rem;
  }
}
