//breakpoints
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;

//main site colours
$background: #fef9f5;
$text: #3e3a36;
$rosehip: #f6c3ae;

//accent colours
$brick: #f0743e;
$sunshine: #fdd848;
$apple: #aad59e;
$clear: #9ab2d4;
