//breakpoints
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;

//neutral colours
$scorpion: #5a5858; //main text colour
$wild-sand: #f5f5f5; //main background colour
$albescent-white: #f5e9ce; //text colour for dark backgrounds

//primary colours - main UI colour & "regulated" emotion state
$fun-green: #036040;
$sea-green: #318d6d;
$tradewind: #57bc9d;

//accent colours - blues for low reactivity; yellows for high
$midnight-blue: #00276f;
$cerulean-blue: #2250ae;
$curious-blue: #318dce;
$gold-tips: #e8b615;
$saffron: #f4ce3f;
$sweet-corn: #f9e18c;
