@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.page {
  height: 150vh;
  width: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;

  @include tablet {
    gap: 1rem;
    padding: 2.5rem;
  }
}
