@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.page {
  height: 150vh;
  width: 100%;
}

.about {
  padding: 1rem;

  &__description {
    padding: 0.5rem 0;
  }
}
