@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.menu {
  &__option {
    @include mobile-body;
    font-size: 0.75rem;
    padding: 0 0.25rem;
    border-bottom: 1px solid rgba($color: $nt-dark-scorpion, $alpha: 0.3);

    @include tablet {
      @include dt-cta-labels;
    }

    &:hover {
      transform: scale(1.1);
      transition: all ease-in-out;
      cursor: pointer;
    }
  }
}
