@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.header {
  background-color: $nb-wild-sand;
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1rem;
  width: 100%;
  z-index: 1;

  @include tablet {
    padding: 1.25rem 2.5rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include desktop {
      max-width: 1280px;
    }
  }

  &__site-nav {
    position: relative;
    top: 5px;
    flex: 1;
  }

  &__menu-icon {
    width: 25px;
  }

  &__logo-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    flex: 1;

    @include tablet {
      padding: 0;
    }
  }

  &__link {
    display: flex;
    text-decoration: none;

    &--dt {
      display: none;

      @include tablet {
        display: initial;
      }
    }

    &--mobile {
      @include tablet {
        display: none;
      }
    }
  }

  &__logo {
    height: 30px;
  }

  &__button-container {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    flex: 1;
  }

  &__button {
    @include mobile-cta-labels;
    color: $p-dark-fun-green;
    padding: 0.5rem 1rem;
    border: 1px solid $p-dark-fun-green;
    border-radius: 20px;

    &:hover {
      background-color: $p-dark-fun-green;
      color: $nt-light-albescent-white;
      transform: scale(1.1);
      transition: all ease-in-out;
    }

    @include tablet {
      @include dt-cta-labels;
    }
  }
}
