@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.header {
  background-color: $nb-wild-sand;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 3px;
  padding: 0 0.5rem;
  width: 100%;
  z-index: 1;

  @include tablet {
    padding: 1.25rem 2.5rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include desktop {
      max-width: 1280px;
    }
  }

  &__site-nav {
    position: relative;
    flex: 1;
  }

  &__menu-icon {
    width: 20px;
  }

  &__logo-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    flex: 1;

    @include tablet {
      padding: 0;
    }
  }

  &__link {
    display: flex;
    text-decoration: none;

    &--dt {
      display: none;

      @include tablet {
        display: initial;
      }
    }

    &--mobile {
      @include tablet {
        display: none;
      }
    }
  }

  &__button-container {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    flex: 1;
  }

  &__button {
    //TO DO: improve button styles
    @include mobile-cta-labels;
    color: $p-dark-fun-green;
    padding: 0.125rem 0.5rem;
    border: 0.5px solid $p-dark-fun-green;
    border-radius: 4px;

    @include tablet {
      @include dt-cta-labels;
    }
  }
}
