@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid $scorpion;
  width: 100%;

  &__link {
    text-decoration: none;
    color: $scorpion;
  }

  &__name {
    @include mobile-body;
  }

  &__actions {
    display: flex;
    gap: 0.5rem;
  }

  &__links {
    @include mobile-cta-labels;
    display: flex;
    gap: 0.25rem;
    list-style-type: none;
  }
}
