@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;

//global resets
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  @include full-size;
  min-height: 100vh;
  background-color: $nb-wild-sand;
  color: $nt-dark-scorpion;
  font-family: $primary-font;
}

//default element styles
h1 {
  @include mobile-titles;

  @include tablet {
    @include dt-titles;
  }
}

h2,
h3 {
  @include mobile-subtitles;
  color: $p-dark-fun-green;

  @include tablet {
    @include dt-subtitles;
  }
}

p {
  @include mobile-body;
  max-width: 75ch;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;

  @include tablet {
    @include dt-body;
  }
}

label,
button {
  @include mobile-cta-labels;

  @include tablet {
    @include dt-cta-labels;
  }
}

ul {
  @include mobile-body;
  list-style-type: none;

  @include tablet {
    @include dt-body;
  }
}

a {
  @include mobile-body;
  text-decoration: none;
  color: inherit;

  @include tablet {
    @include dt-body;
  }
}
